<web-app>
	<servlet>
		<servlet-name>Updatedetails</servlet-name>
		<servlet-class>updateServlet</servlet-class>
	</servlet>
	
	<servlet>
     		 <servlet-name>DonorServlet</servlet-name>
      		<servlet-class>donorServlet</servlet-class>
   	</servlet>
	<servlet>
     		 <servlet-name>SearchBgServlet</servlet-name>
      		<servlet-class>searchbgServlet</servlet-class>
   	</servlet>
	<servlet>
     		 <servlet-name>SearchPlaceServlet</servlet-name>
      		<servlet-class>searchplaceServlet</servlet-class>
   	</servlet>
	<servlet>
     		 <servlet-name>DonationServlet</servlet-name>
      		<servlet-class>donation</servlet-class>
   	</servlet>
	<servlet>
     		<servlet-name>login1</servlet-name>
      		<servlet-class>login1</servlet-class>
   	</servlet>
	<servlet>
     		 <servlet-name>DonorDetails</servlet-name>
      		 <servlet-class>donordetails</servlet-class>
   	</servlet>
	<servlet>
     		<servlet-name>PurchaserDetails</servlet-name>
      		<servlet-class>purchaserdetails</servlet-class>
   	</servlet>
	<servlet>
     		 <servlet-name>SearchBgServlet1</servlet-name>
      		<servlet-class>searchbg1</servlet-class>
   	</servlet>
	<servlet>
     		 <servlet-name>SearchPlaceServlet1</servlet-name>
      		<servlet-class>searchplace1</servlet-class>
   	</servlet>
	<servlet>
     		 <servlet-name>PurchaseServlet</servlet-name>
      		<servlet-class>purchaseServlet</servlet-class>
   	</servlet>
	<servlet-mapping>
		<servlet-name>Updatedetails</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
      		<servlet-name>DonorServlet</servlet-name>
     		 <url-pattern>/register</url-pattern>
   	</servlet-mapping>
	<servlet-mapping>
      		<servlet-name>SearchBgServlet</servlet-name>
     		 <url-pattern>/searchbg</url-pattern>
   	</servlet-mapping>
	<servlet-mapping>
      		<servlet-name>SearchPlaceServlet</servlet-name>
     		 <url-pattern>/searchplace</url-pattern>
   	</servlet-mapping>
	<servlet-mapping>
      		<servlet-name>DonationServlet</servlet-name>
     		 <url-pattern>/donation</url-pattern>
   	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>login1</servlet-name>
		<url-pattern>/login1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DonorDetails</servlet-name>
		<url-pattern>/donordetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PurchaserDetails</servlet-name>
		<url-pattern>/purchaserdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
     		 <servlet-name>SearchBgServlet1</servlet-name>
      		<url-pattern>/searchbg1</url-pattern>
   	</servlet-mapping>
	<servlet-mapping>
     		 <servlet-name>SearchPlaceServlet1</servlet-name>
      		<url-pattern>/searchplace1</url-pattern>
   	</servlet-mapping>
	<servlet-mapping>
      		<servlet-name>PurchaseServlet</servlet-name>
     		 <url-pattern>/purchase</url-pattern>
   	</servlet-mapping>
</web-app>
